{% extends "metro/base.html" %}
{% block body %}
<h1>{{ subtitle }}</h1>

<div class="container text-center">
  <form action="" method="get">
    <textarea name="metro-line" placeholder="路線名" rows="1"
      class="form-control" value=""></textarea>
    <textarea name="metro-station" placeholder="駅名" rows="1"
      class="form-control" value=""></textarea>
    <button type="submit" id="send" class="btn btn-default btn-block btn-lg">search</button>
    <!-- <button formaction="bar">戻る</button> -->
  </form>
</div>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-2">id</th>
        <th class="col-xs-1">value</th>
      </tr>
    </thead>
    <tbody>
      {% for content in contents %}
      <tr>
        <td>{{ content[0] }}</td>
        <td>{{ content[1] }}</td>
      </tr>
      {% else %}
          <td>登録されていません</td>
      {% endfor %}
    </tbody>
  </table>
  <p>　_</p>
  <p>　info </p>
</div>
{% endblock %}